<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> <!-- Promise polyfill -->
    <script src="/assets/axios.js"></script>

    <link href="/assets/bootstrap.css" media="screen" rel="stylesheet">
    <%= assets(:css) %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

    <%= assets(:js) %>
  </body>
</html>
