<html>
  <head>
    <!-- jQuery-File-Upload -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/assets/jquery.ui.widget.js"></script>
    <script src="/assets/jquery.fileupload.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/bootstrap.js"></script>
    <link href="/assets/bootstrap.css" media="screen" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
