<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shrine Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Shrine demo featuring multiple file uploads to S3 with Uppy" />

    <link href="/dist/bundle.css" rel="stylesheet" />

    <script type="text/template" id="template-photo">
      <% f = Forme::Form.new(Album.new, labeler: :explicit) %>
      <% f.with_obj(Photo.new, ["photos_attributes", "{{index}}"]) do %>
        <%= partial("albums/photo", locals: { f: f }) %>
      <% end %>
    </script>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

    <script src="/dist/bundle.js"></script>
  </body>
</html>
