/* your custom css */

@media (max-width: 1023px) {
  /* remove input margins on Safari */
  .navSearchWrapper input {
    margin: 0;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  @media (max-device-width: 1023px) {
    /* vertically align search bar on mobile */
    .navSearchWrapper {
      height: 19px;
    }
  }
}

@media (max-width: 479px) {
  /* remove unnecessary margin for title */
  .projectTitle {
    margin-top: 0px;
  }

  /* add spacing between buttons when they wrap in multiple lines */
  .buttonWrapper {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
}

@media (max-width: 735px) {
  /* align logo with other footer items */
  #footer .nav-home {
    padding-left: 0px;
    padding-right: 20px;
  }
}

/* Hide prev/next buttons at bottom of documents */
.docs-prevnext {
  display: none;
}

/* make demo code narrower */
.landingDemo .wrapper {
  max-width: 800px;
}

/* make main logo smaller */
.projectLogo {
  padding-top: 3em !important;
  padding-bottom: 5em !important;
}

code[class*="language-"] {
  display: block;
  padding: 1.25rem 1.5rem;
  overflow-y: auto;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.cf-wrapper {
  /* light red-tinted grey with grey border */
  border: 1px solid rgb(172, 171, 171);
  background-color: rgb(247, 246, 246);
  border-radius: 3px;
}
