/* your custom css */

@media only screen and (max-device-width: 479px) {
  .projectTitle {
    margin-top: 0px;
  }

  .buttonWrapper {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
}

@media only screen and (max-device-width: 735px) {
  #footer .nav-home {
    padding-left: 0px;
    padding-right: 20px;
  }
}


/* Hide prev/next buttons at bottom of documents */
.docs-prevnext {
  display: none;
}

.landingDemo .wrapper {
  max-width: 800px;
}

.projectLogo {
  padding-top: 3em !important;
  padding-bottom: 5em !important;
}

code[class*="language-"] {
  display: block;
  padding: 1.25rem 1.5rem;
  overflow-y: auto;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
