/* your custom css */

@media (max-width: 1023px) {
  /* remove input margins on Safari */
  .navSearchWrapper input {
    margin: 0;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  @media (max-device-width: 1023px) {
    /* vertically align search bar on mobile */
    .navSearchWrapper {
      height: 19px;
    }
  }
}

@media (max-width: 479px) {
  /* remove unnecessary margin for title */
  .projectTitle {
    margin-top: 0px;
  }

  /* add spacing between buttons when they wrap in multiple lines */
  .buttonWrapper {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
}

@media (max-width: 735px) {
  /* align logo with other footer items */
  #footer .nav-home {
    padding-left: 0px;
    padding-right: 20px;
  }
}

/* Hide prev/next buttons at bottom of documents */
.docs-prevnext {
  display: none;
}

/* make demo code narrower */
.demoContainer .wrapper {
  max-width: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sponsorsContainer .wrapper {
  max-width: 800px;
}

.sponsors {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.sponsors .link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  margin: 5px;
  padding: 5px;
}

.sponsors .link:hover {
  text-decoration: underline;
}

.sponsors .link .caption {
  line-height: 20px;
  height: 20px;
  text-align: center;
}

.sponsors .link img {
  max-height: 110px;
  margin: 20px;
  width: 110px;
  align-self: center;
  border: 1px solid;
}

.heartEmoji {
  margin-left: 5px;
}

@media only screen and (max-width: 735px) {
  .sponsors .link {
    height: 134px;
  }

  .sponsors .link img {
    max-height: 64px;
    padding: 20px;
    width: 64px;
  }
}

/* make main logo smaller */
.projectLogo {
  padding-top: 3em !important;
  padding-bottom: 5em !important;
}

code[class*="language-"] {
  display: block;
  padding: 1.25rem 1.5rem;
  overflow-y: auto;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.cf-wrapper {
  /* light red-tinted grey with grey border */
  border: 1px solid rgb(172, 171, 171);
  background-color: rgb(247, 246, 246);
  border-radius: 3px;
}
