code[class*="language-"], .hljs {
  color: #dcdcdc;
  background: #3f3f3f;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.source.ruby {
  color: #dcdcdc;
}

.comment {
  color: #7f9f7f;
}

.keyword,
.constant.boolean,
.constant.nil,
.begin.erb,
.end.erb,
.entity.attribute-name {
  color: #e3ceab;
}

.string {
  color: #cc9393;
}

.support.class,
.entity.class,
.variable.constant,
.entity.function,
.entity.tag {
  color: #efef8f;
}

.constant.symbol {
  color: #dca3a3;
}

.constant.numeric,
.variable.instance,
.variable.class,
.variable.global,
.variable.self {
  color: #8cd0d3;
}

.diff.deleted {
  color: #cc9393;
  background-color: #4e3132;
}
.diff.inserted {
  color: #7f9f7f;
  background-color: #3e503e;
}
