---
---

<header class="header">
  <div class="container">
    <div>
      <h1>{{ site.title }} (v{{ site.data.versions[0][0].name }})</h1>
      <p>{{ site.description }}</p>
    </div>
    <a class="btn" href="http://{{ site.url }}/rdoc/files/README_md.html">README</a>
  </div>
</header>

<main class="main">
  <div class="container">
    <section class="row">
      <div class="col">
        <h2>Core (RDoc)</h2>

        <ul>
          {% for item in site.data.core %}
          <li>
            <a href="http://{{ site.url }}/rdoc/classes/Shrine/{{ item.path }}">
              {{ item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col">
        <h2>Guides</h2>

        <ul>
          {% for item in site.data.guides %}
          <li>
            <a href="http://{{ site.url }}/rdoc/files/doc/{{ item.path }}">
              {{ item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="plugins">
      <h2 id="plugins">Plugins</h2>

      <ul>
        {% for item in site.data.plugins %}
        <li>
          <span class="category">{{ item[0] }}</span>
          {% for plugin in item[1] %}
            <dl>
              <dt>
                <a href="http://{{ site.url }}/rdoc/classes/Shrine/Plugins/{{ plugin.path }}">{{ plugin.name }}</a>:
              </dt>
              <dd>
                <div>{{ plugin.description }}</div>
              </dd>
            </dl>
          {% endfor %}
        </li>
        {% endfor %}
    </section>

    <section>
      <h2>Release notes</h2>

      <ul>
        {% for major in site.data.versions %}
        <li>
          {% for version in major %}
          <a href="http://{{ site.url }}/rdoc/files/doc/release_notes/{{ version.path }}">{{ version.name }}</a>
          {% unless forloop.last %}|{% endunless %}
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h2 id="external">External</h2>

      <div class="row">
        {% for sections in site.data.external %}
        <div class="col">
          {% for section in sections %}
          <h3>{{ section.title }}</h3>
          <ul>
            {% for item in section.items %}
            <li>
              <a href="{{ item.url }}">
                {{ item.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <p>Coded with :heart: by <a href="https://github.com/janko-m">Janko Marohnić</a> and published under the <a href="https://github.com/janko-m/shrine/blob/master/LICENSE.txt">MIT license</a>.</p>
  </div>
</footer>
