*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  padding-bottom: 1em;
  background: #F8DCCE;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #463C3B;
}

section {
  margin-bottom: 1em;

  @media (min-width: 768px) {
    margin-bottom: 2em;
  }
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h2 {
  font-size: 1.35em;
  margin-bottom: 0.25em;

  @media (min-width: 768px) {
    font-size: 1.75em;
  }
}

h3 {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  font-size: 1em;

  @media (min-width: 768px) {
    font-size: 1.25em;
  }
}

a {
  color: #DD2F16;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #463C3B;
    text-decoration: underline;
  }
}

ol, ul {
  list-style: none;
}

dl {
  margin-left: 0;
}

dt {
  @extend .cf;
  float: left;
  margin-right: 0.25em;
}

img, svg, iframe {
  vertical-align: middle;
}

label {
  cursor: pointer;
}
