.btn {
  display: inline-block;
  padding: 0.75em 1.25em;
  background: #DD2F16;
  border-radius: 0.5em;
  color: #fff;
  font-weight: inherit;
  text-shadow: none;

  &:hover,
  &:focus {
    background: shade(#DD2F16, 15%);
    text-decoration: none;
    color: #fff;
  }

  svg {
    vertical-align: -1px;
  }
}
