.row {
  @include mq(sm) {
    @include display(flex);
  }
}

.col {
  margin-bottom: 1em;
}

.col h3:not(:first-child) {
  margin-top: 0.5em;
}

.row:first-child .col:nth-child(1) {
  @include mq(sm) {
    width: (100%/3);
    margin-right: 1em;
    margin-bottom: 0;
  }
}

.row:first-child .col:nth-child(2) {
  @include mq(sm) {
    width: (100%/3*2);
    margin-right: 1em;
    margin-bottom: 0;
  }
}

.row:last-child .col {
  @include mq(sm) {
    width: (100%/3);
    margin-right: 1em;
    margin-bottom: 0;
  }
}
