@import url('~bootstrap/dist/css/bootstrap.css');
@import url('~@uppy/core/dist/style.css');

.container {
  width: 800px;
}

.image-preview {
  margin-bottom: 20px;
}

.file-upload-preview[src=""] {
  visibility: hidden;
}

.file-upload-list li {
  margin-bottom: 20px;
}

.image-preview {
  margin-top: 10px;
  display: inline-block;
}

label {
  margin-left: 5px;
  margin-right: 5px;
}
