.container {
  width: 800px;
}

.file-upload-preview[src=""] {
  visibility: hidden;
}

.file-upload-list li {
  margin-bottom: 20px;
}

.image-preview {
  margin-top: 10px;
  display: inline-block;
}
