<li class="album-photo">
  <div class="media">
    <div class="media-left">
      <!-- dynamic link that will generate a thumbnail "on-the-fly" -->
      <img src="<%= photo.image.derivation_url(:thumbnail, "300", "300") %>"
           width=150
           class="img-thumbnail media-object" />
    </div>
    <div class="media-body">
      <div class="form-group">
        <%= f.input :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.input :_delete, type: :checkbox, label: "Remove photo" unless photo.new? %>
      </div>
    </div>
  </div>
</li>
