name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: ["**"]

env:
  RACK_ENV: development
  S3_REAL: true
  S3_REGION: us-east-1
  S3_BUCKET: minio-bucket
  S3_ACCESS_KEY_ID: weak_key
  S3_SECRET_ACCESS_KEY: weak_key
  S3_ENDPOINT: http://localhost:9000
  MINIO_ACCESS_KEY: weak_key
  MINIO_SECRET_KEY: weak_key

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "2.5"
          - "2.6"
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - "4.0"
          - "jruby-9.4"

    steps:
      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          rubygems: latest

      - name: Set up Minio
        run: |
          mkdir -p "${GITHUB_WORKSPACE}"/minio/data/minio-bucket
          wget -nc -O "${GITHUB_WORKSPACE}"/minio/minio https://dl.min.io/server/minio/release/linux-amd64/minio
          chmod +x "${GITHUB_WORKSPACE}"/minio/minio
          ${GITHUB_WORKSPACE}/minio/minio server ${GITHUB_WORKSPACE}/minio/data --address localhost:9000 &>${GITHUB_WORKSPACE}/minio/data/server.log &

      - name: Run tests
        run: bundle exec rake test
